@use "colors" as c;

@mixin btnCompleted {
    &__btnCompleted{
        margin-right: 7px;
        border: none;
        background: c.$main-color;
        cursor: pointer;
        transition: all 0.3s ease;

        .bi-check-lg{
            pointer-events: none;
            font-size: 17px;
        }
    }

    &__btnCompleted:hover{
        color: rgb(4, 235, 23);
    }
}

@mixin btnRemove {
    &__btnDelete{
        border: none;
        background: c.$main-color;
        cursor: pointer;
        transition: all 0.3s ease;

        .bi-trash3{
            pointer-events: none;
            font-size: 17px;
        }
    }
    &__btnDelete:hover{
        color: red;
    }
}