$first-bgc-color: rgba(255, 204, 181, 0.816);

$second-bgc-color: rgb(255, 161, 147);

$main-color: white;

$text-color: black;

$color-chech: rgb(4, 235, 23);

$color-trash: rgb(248, 3, 3);

$bg-color: rgb(255, 241, 234);