.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__list{
        min-width: 30%;
        list-style: none;
        
        
        color: black;
        font-size: 14px;
        
    }

    &__item{ 
        background: white;
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 5px;
    }

    &__btnContainer{
        
    }

    &__btnCompleted{
        margin-right: 5px;
        border: none;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease;

        .bi-check-lg{
            pointer-events: none;
            
        }
    }
    &__btnCompleted:hover{
        color: rgb(4, 235, 23);
    }

    &__btnDelete{
        border: none;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease;

        .bi-trash3{
            pointer-events: none;
        }
    }
    
    &__btnDelete:hover{
        color: red;
    }
}

.complited{
    text-decoration: line-through;
    opacity: 0.5;
}